* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	gap: 50px;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;

	background: rgb(128, 128, 128);
}

.box {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 50px;
	width: 400px;
	padding: 50px;
	background-color: rgba(0, 0, 0, 0.537);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 12px;
}

.screen {
	width: 100%;
	color: #fff;
	font-size: 32px;
	font-weight: 600;
	background-color: hsla(0, 0%, 100%, 0.153);
	text-align: center;
	padding: 15px;
	border-radius: 12px;
	letter-spacing: 2.3px;
}

.inputs-box {
	display: flex;
	flex-direction: column;
	align-self: stretch;
	gap: 35px;
}

.range {
	-webkit-appearance: none;
	appearance: none;
	height: 7px;
	border-radius: 8px;

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		appearance: none;
		height: 20px;
		width: 20px;
		border-radius: 50%;
	}
}

.red {
	background-color: #8f3c3c;

	&::-webkit-slider-thumb {
		background: #f00;
	}
}

.green {
	background-color: #3c8f49;

	&::-webkit-slider-thumb {
		background: #0f0;
	}
}

.blue {
	background-color: #4a5099;

	&::-webkit-slider-thumb {
		background: #00f;
	}
}

.random-button {
	padding: 15px 30px;
	font-size: 16px;
	background: none;
	color: #fff;
	border: 2px solid;
	border-radius: 12px;
	cursor: pointer;

	transition: background-color 0.1s;

	&:hover {
		background-color: #ffffff1a;
	}
}
